//Colors
$primary-color: #76F54A;
$secondary-color: #2CA900;
$link: #C3FFAD;
$primary-text: #eee;
$disabled-color: #64A857;
$contrast-color: tomato;

//Sizes
$primary-column: 65%;
$secondary-column: 35%;